@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap");
* {
  scroll-behavior: smooth;
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
html {
  width: 100%;
}
body {
  font-family: "Poppins", sans-serif;
  background-color: #eee;
  color: #111;
}
.logo{
  width: 7.5vh;
  height: 7.5vh;
  border-radius: 100%;
  background: url('https://media.discordapp.net/attachments/741244174736556076/969861388761710622/unknown.png');
  background-size: cover;
  margin-left: 2.5vw;
  margin-top: -.5vw;
  position: absolute;
}
.navbar {
  width: 100%;
  display: flex;
  height: 10vh;
  padding-top: 2.5vw;
}
.navbar ul {
  list-style: none;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  width: 35%;
  margin-left: auto;
  margin-right: auto;
  height: 100%;
}
.navbar ul li a {
  color: #111;
  text-decoration: none;
  transition: all 0.5s ease;
  font-weight: 500;
  font-size: 1.25vw;
}
.content-body {
  width: 100%;
  text-align: center;
  margin-top: 8.5vw;
}
.content-body h1 {
  font-size: 3vw;
  font-weight: 700;
  margin-bottom: 2vw;
}
.content-body a {
  font-weight: 500;
  color: #111;
  border-radius: 25px;
  border: 2px solid #111;
  text-decoration: none;
  padding: 10px;
  transition: all 0.5s ease;
  font-size: 1.15vw;
}
.content-body p {
  font-size: 1.25vw;
}
.contact-div {
  display: flex;
}
.form-div {
  background-color: #111;
  width: 40%;
  border-radius: 10px;
  height: calc(75vh - 5vh);
  margin: 6.5vw 5vw;
}
.image-div {
  width: 60%;
  height: 75vh;
  background: url("https://blush.design/api/download?shareUri=mmKcI3HCKjmBrtGq&w=800&h=800&fm=png");
  background-size: cover;
  background-position: center;
  margin: 7.5vw 5vw;
}
.form-header {
  margin: 2.5vw 2.5vw;
  color: #eee;
}
.form-header a {
  color: #eee;
}
.form-header h2 {
  font-size: 2vw;
  margin-top: 1.5vw;
}
.form-content {
  margin: 0.75vw 2.5vw;
  color: #eee;
}
.form-div .submit {
  color: #111;
  background: #eee;
  border: none;
  border-radius: 20px;
  padding: 5px;
  width: 25%;
  font-size: 1.15vw;
  transition: all 0.5s ease;
  font-family: "Poppins", sans-serif;
  cursor: pointer;
  margin: 2.5vw 2.5vw;
}
.form-content input {
  width: 100%;
  border: none;
  border-radius: 5px;
  padding: 10px;
  transition: all 0.5s ease;
  background: rgba(34, 33, 33, 0.9);
  color: #eee;
  margin-top: 0.5vw;
  font-family: "Poppins", sans-serif;
}
.form-content input:focus {
  outline: none;
  border: 2px slid rgba(20, 20, 20, 0.9);
}
.custom-shape-divider-bottom-1621526916 {
  position: absolute;
  bottom: -1rem;
  left: 0;
  width: 100%;
  overflow: hidden;
  line-height: 0;
  transform: rotate(180deg);
}

.custom-shape-divider-bottom-1621526916 svg {
  position: relative;
  display: block;
  width: calc(103% + 1.3px);
  height: 192px;
}
.custom-shape-divider-bottom-1621526916 .shape-fill {
  fill: #111;
}
.project-head h1{
  margin-top: 15vw;
  text-align: center;
  font-size: 5vw;
  font-weight: 700;
  margin-bottom: 2vw;
}
.product-cards {
  display: flex;
  padding: 1vw;
  margin: 35vw auto auto;
  justify-content: space-evenly;
}
.product-box {
  cursor: pointer;
  margin: 5px;
  transition: all .25s ease-in;
  padding: 10px;
  border-radius: 20px;
  box-shadow:  20px 20px 60px #bebebe,
               -20px -20px 60px #ffffff;
  margin-bottom: 2vw;
  padding: 10px;
  width: 45vh;
}
.product-box:hover {
  transform:  translateY(-2.5px);
}
.product-box h3 {
  font-size: 1.5vw;
  text-align: center;
  margin-top: 1.25vw;
}
.product-box p{
  text-align: center;
  padding-bottom: 1.5vw;
}
.product-box i{
  font-size: 2.5vw;
  color: #111;  
  margin-top: 2.5vw;
}
.product-container h5 {
  color: #111;
}
.product-container img {
  position: relative;
  margin: 0px 0px 26px calc((100% - 980px) * 0.5);
  left: 192px;
  grid-area: 4 / 1 / 10 / 2;
  justify-self: start;
  align-self: start;
}
.image-text{
  margin-left: 5vw;
  margin-top: 5vw;
}
.image-text h5{
  font-size: 2.5vw;
}
.image-text h3{
  font-size: 2vw;
}
.image-text p{
  font-size: 1.5vw;
}
/* .button {
  text-align: center;
}
.button .btn {
  cursor: pointer;
  text-align: center;
  padding: 4px;
  border-radius: 15px;
  outline: none;
  border: solid 2px #111;
  background-color: #eee;
  font-size: 20px;
} */
.image-1{
  position: absolute;
  top: 0;
  left: 0;
  width: 45vh;
  transform:scaleX(-1);
  margin: 30vw 70vw;
}
.img-2{
  position: absolute;
  top: 0;
  left: 50% !important;
  width: 45vh;
}
.mobile-structure{
  height: 70vh;
  width: 37.55vh;
  border: 2px solid #111;
  border-radius: 10px;
  margin-top: 5vw;
  margin-left: auto;
  margin-right: auto;
}
.line-1{
  height: 2px;
  width: 7.5vh;
  background-color: #111;
  border-radius: 10px;
  margin-left: auto;
  margin-right: auto;
}
.line-1{
  margin-top: 5vh;
}
.qr-code{
  margin-top: 15vh;
  margin-left: auto;
  margin-right: auto;
  width: 27.5vh;
  height: 27.5vh;
  background: url('./assets/unknown\ \(1\).png');
  background-size: cover;
}
.mobile-structure button{
  width: 27.5vh;
  height: 5vh;
  background: #111;
  border-radius: 20px;
  cursor: pointer;
  border: none;
  color: #fff;
  font-size: 1.25vw;
  margin-left: auto;
  margin-right: auto;
  margin-top: 5vw;
  display: block;
  font-family: 'Poppins', sans-serif;
}
.copy-notification {
  color: #ffffff;
  background-color: rgba(0,0,0,0.8);
  padding: 20px;
  border-radius: 30px;
  position: fixed;
  top: 50%;
  left: 50%;
  width: 150px;
  margin-top: -30px;
  margin-left: -85px;
  display: none;
  text-align:center;
  font-size: 16px;  
}